<input type="text" id="num1" placeholder="num1"/>
<br>
<input type="text" id="num2" placeholder="num2"/>
<br>
<button onclick="addfun();">Add</button>
<br>
<div id="result"></div>




<script>

function addition(){

		x = parseInt(document.getElementById("num1"));
		y = parseInt(document.get.ElementById("num2"));
		
		z = x + y;
		console.log(z);
		}
</script>